.clearfix:after                 {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix                       {display:inline-block;}
.clearfix                       {display:block;}
#related_content_wrapper        {background-color:#EAE3C5;padding:10px;margin-top:10px;width:50%;}
#related_content_wrapper label  {font-weight:bold;font-size:17px;}
#related_content_wrapper ol     {margin:0 0 0 10px;padding:0;}
p.related_notice                {clear:both;margin-top:10px;}
p#deleted                       {color:red;}
p#added                         {color:green;}
#related_content_wrapper label, #related_content_wrapper input, #related_content_wrapper ol 
                                {margin-right:10px;float:left;}
li.related_page                 {background:url(/images/admin/reorder.png) no-repeat center left;padding-left:20px;}
.related_page a                 {color: gray;margin-left: 10px;text-decoration:none;}
div.auto_complete span.url      {display: block;font-size: 75%;color: blue;}
li.related_page                 {margin:0 0 5px 20px;}